.conatiner {
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.product-container {
    margin: auto auto;
    padding: 10px 0px;
    max-width: 300px;
    text-align: center;
}

.product-image {
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 4px;
}

.product-name {
    font-weight: 700;
    font-size: 18px;
}

.product-price {
    font-weight: 500;
    font-size: 18px;
}

button.product-button {
    width: 100%;
    line-height: 40px;
    background-color: rgb(220, 81, 81);
    color: white;
    border: none;
    cursor: pointer;
}